*{
  box-sizing: border-box;
}

.donut{
  width: 200px;
  height: 200px;
}

.running{
  width: 200px;
  height: 200px;
}

.parallax { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* The image used */
  background-image: url('/images/park.png');
  overflow: hidden;

  /* Set a specific height */
  height: 600px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.sweet-vs-sweat{
  font-family: 'Jua', sans-serif;
  font-size: calc(2em + 2vw);
  padding: 5px;
  width: 200px;
  height: 150px; 
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #71a41f;
  color: white;
  text-align: center;
  height: 40px;
  padding-top: 10px;
  font-family: 'Gamja Flower', cursive;
  font-size: calc(0.7em + 0.7vw)
}




@import url('https://fonts.googleapis.com/css?family=Jua');

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');




