*{
  box-sizing: border-box;
}


@media only screen and (max-width: 600px) {
  .parralax {
    display: flex;
    flex-wrap: wrap;
  }

  .images {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 100%;
    align-items: center;
    
  }

  .donut {
    width: 40vmin;
    height: auto;
  
  }
  
  .running {
    width: 40vmin;
    height: auto;
  }
}

.donut {
  width: 40vmin;
  height: 40vmin;
  position: relative;
  animation-name: wobble;
  animation-duration: 30s;
}

@-webkit-keyframes wobble {
  0% { -webkit-transform: translateX(0%); }
  15% { -webkit-transform: translateX(-5%) rotate(-2deg); }
  30% { -webkit-transform: translateX(5%) rotate(1deg); }
  45% { -webkit-transform: translateX(-5%) rotate(-2deg); }
  60% { -webkit-transform: translateX(5%) rotate(1deg); }
  75% { -webkit-transform: translateX(-2.5%) rotate(-1deg); }
  100% { -webkit-transform: translateX(0%); }
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-5%) rotate(-2deg); }
  30% { transform: translateX(5%) rotate(1deg); }
  45% { transform: translateX(-5%) rotate(-2deg); }
  60% { transform: translateX(5%) rotate(1deg); }
  75% { transform: translateX(-2.5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

.running {
  width: 40vmin;
  height: 40vmin;
  position: relative;
  animation-name: swing2;
  animation-duration: 30s;
}

@-webkit-keyframes swing2 { 
  15% { -webkit-transform: translateX(20px); transform: translateX(20px);}
  30% { -webkit-transform: translateX(-10px); transform: translateX(-10px);} 
  50% { -webkit-transform: translateX(5px); transform: translateX(5px);}
  65% { -webkit-transform: translateX(-5px); transform: translateX(-20px);}
  80% { -webkit-transform: translateX(1px); transform: translateX(1px);}
  100% { -webkit-transform: translateX(0); transform: translateX(0);}
}

@keyframes swing2 {
  15% { -webkit-transform: translateX(10px);transform: translateX(10px);}
  30% { -webkit-transform: translateX(-10px); transform: translateX(-10px);}
  50% { -webkit-transform: translateX(5px); transform: translateX(5px);}
  65% { -webkit-transform: translateX(-5px); transform: translateX(-5px);}
  80% { -webkit-transform: translateX(1px); transform: translateX(1px);}
  100% { -webkit-transform: translateX(0); transform: translateX(0);}
} 

.images{
  display: flex;
  width: 90%;
  justify-content: space-between;
  position: absolute;
  
}

.parallax { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* The image used */
  background-image: url('/images/park2.png');
  overflow: hidden;

  /* Set a specific height */
  height: 600px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.parallax2 { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* The image used */
  background-image: url('/images/park2.png');
  overflow: hidden;

  /* Set a specific height */
  height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.sweet-vs-sweat{
  font-family: 'Jua', sans-serif;
  font-size: calc(2.5em + 2.5vw);
  padding: 5px;
  width: 200px; 
  margin: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  transition: 0.5s;
}

.sweet-vs-sweat:hover
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #71a41f;
  color: white;
  text-align: center;
  height: auto;
  padding-top: 10px;
  font-family: 'Gamja Flower', cursive;
  font-size: calc(0.7em + 0.7vw)
}






@import url('https://fonts.googleapis.com/css?family=Jua');

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');




