.results-div{
  margin: 0%;
  height:auto;
  background-color:#fbf6ec;
  padding-left: 15%;
  padding-right: 20%;
  font-size: calc(0.8em + 0.8vw);
  margin: 0;
  font-family: 'Gamja Flower', cursive;
  position: relative;
}

ul{
  margin: 0;
}

li{
  list-style-type: none;
  padding-bottom: 5%;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  color: #5fbbfb;
}

.result-h1{
  font-family: 'Jua', sans-serif;
  font-size: calc(0.7em + 0.7vw);
}

@import url('https://fonts.googleapis.com/css?family=Jua');